{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
    <head></head>
    <body class="d-flex flex-column min-vh-100" style="text-align: center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Social Watch Party</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myBio' user.username %}">My Bio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'createEvent' %}">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events' %}">View Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rsvps' %}">View RSVPs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends' %}">Friend Suggestions</a>
                    </li>
            </div>
            <li class="nav-item">
                <form action="{% url 'searchResults' %}" method="get">
                    <input type="text" name="search" placeholder="Search by title" value="{{request.GET.title}}">
                    <input type="submit" value="Search">
                </form>
        </div>
        <div class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <button class = "btn btn-info">Logout</button>
                </a>
            </li>
            </li>
            </ul>
        </div>
        </div>
    </nav>

        <div style="margin:auto; margin-top: 7px;">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <br>
            <div class="card" style="width: auto">
              <div class="rounded-top text-white d-flex flex-row" style="background-color: #1c93e2"> <!--#002e00">-->
                  <div class="d-flex align-items-start flex-column" style="margin-left: 10px">
                      <div class="mb-auto p-2">
                            <!-- <img src="img.jpg" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 100px; z-index: 1"> -->
                        </div>
                    </div>
                    <div class="d-flex align-items-start flex-column" style="margin-left: 10px">
                        <div class="p-2" style="font-size: xx-large;">
                            {{event.event_name}}
                        </div>
                        <div class="p-2 mb-auto align-self-start justify-content-start">
                            <div style="text-align: left; font-size: medium; line-height: 17px; width: 450px; overflow: hidden; text-overflow: ellipsis;">
                                <p>{{event.event_description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-end flex-column" style="alignment: right; margin-left: 10px">
                    </div>
                </div>
                <div class="text-white d-flex flex-row" style="background-color: #000">
                    <div class="d-flex align-items-start flex-column" style="margin-left: 10px">
                        <div class="p-2 align-self-end">
                            <div style="text-align: left; font-size: medium; margin-bottom: 0; line-height: 20px">
                                <p><i>{{event.event_date.date}} @ {{event.event_time}}</i></p>
                                <p><b>Location: </b>{{event.event_location}}, {{event.event_type}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-start flex-column" style="margin-left: 200px">
                        <div class="p-2" style="text-align: left; font-size: medium; line-height: 20px;">
                            <p><b>Host: </b>{{event.event_owner}}</p>
                            <p><b>Attendees: </b>{{event.event_RSVP.all|length}}/{{event.event_capacity}}</p>
                        </div>
                    </div>
                </div>
            </div>
          <br>
          <form method="get" action="#">
            {% csrf_token %}
            {% if user == event.event_owner %}
              <input type="submit" class="btn btn-success" name="Edit_Button" value="Edit Event">
              <label></label>
              <input type="submit" class="btn btn-danger" name="Delete_Button" value="Delete Event">
              <br><br>
              <!-- <input type="submit" class="btn btn-info" name="Export_Button" value="Export Event"> -->
            {% else %}
              <input type="submit" class="btn btn-success" name="RSVP_Button" value="RSVP Event">
              <label></label>
              <input type="submit" class="btn btn-danger" name="CancelRSVP_Button" value="Cancel RSVP">
              <br><br>
              <!-- <input type="submit" class="btn btn-info" name="Export_Button" value="Export Event"> -->
            {% endif %}
          </form>
          <br>
          <h2 style="text-decoration: underline">RSVP List</h2>
            <!--Logic that makes sure else statement only displays if RSVP tablesize > 1, even with automatic owner RSVP-->
            {% if event.event_RSVP.all|length > 1 %}
            <ol class="list-group">
                {% for name in event.event_RSVP.all %}
                {% if name == user %}
                <li class="list-group-item"><em>{{ name.username }}</em> (You)</li>
                {% else %}
                <li class="list-group-item"><em>{{ name.username }}</em> &nbsp;&nbsp;&nbsp; <a href="/myBio/{{name.username}}" class="btn btn-info">View Bio</a>      </li>
                {% endif %}
                {% endfor %}
            </ol>
            {% else %}
            <ol class="list-group">

                {% if user != event.event_owner %}
                <li class="list-group-item"><strong><em>Currently only the host is attending!</em></strong></li>
                {% for name in event.event_RSVP.all %}
                <li class="list-group-item"><em>{{ name.username }}</em> &nbsp;&nbsp;&nbsp; <a href="/myBio/{{name.username}}" class="btn btn-info">View Bio</a>      </li>
                {% endfor %}
                {% else %}
                <li class="list-group-item"><strong><em>Currently only you, the host, are attending!</em></strong></li>

                <li class="list-group-item"><em>{{ event.event_owner }}</em> (You)</li>

                {% endif %}
            </ol>
            {% endif %}
        </div>
    </body>
</html>
